<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>ILAR</title>

        {% block css %}
            {% stylesheets filter='cssrewrite'
            'bootstrap/css/bootstrap.min.css'
            'css/OpenLayers_v3.7.0-dist/ol.css'
            'css/style.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock css %}


    </head>
    <body>

        <div class="container">
            <header class="page-header">
                <h1>
                    ILAR
                    <small>Internes Lillois d'Anesthésie-Réanimation</small>
                </h1>
            </header>
            
            <nav class="navbar navbar-default">
                <!-- <div class="container-fluid"> -->
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="dropdown pull-right">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{ app.user.name }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="{{ path('GUser_ShowProfile') }}"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="pull-right">
                            <a href="{{ path('fos_user_security_login') }}" class="btn btn-link"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
                        </div>
                    {% endif %}

                    {{ knp_menu_render('main') }}
            </nav>

            <div class="messages">
                {% for type, messages in app.session.flashbag.all() %}
                    {% set css_context = type %}

                    {% if type == "error" %}
                        {% set css_context = "danger" %}
                        {% set css_sign = "exclamation" %}
                    {% elseif type == "warning" %}
                        {% set css_sign = "exclamation" %}
                    {% elseif type == "info" %}
                        {% set css_sign = "info" %}
                    {% elseif type == "success" %}
                        {% set css_sign = "ok" %}
                    {% endif %}
                    
                    <div class="alert alert-{{ css_context }} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="glyphicon glyphicon-{{ css_sign }}-sign" aria-hidden="true"></span>
                        <span class="sr-only">{{ type }} :</span>
                        {% set separator = "" %}
                        {% for message in messages %}
                            {{ separator|raw }}{{ message|trans({}, 'FOSUserBundle') }}
                            {% set separator = "<br/>" %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <div class = "container">
            <footer>
                <p class="text-muted">
                    Le code source de ce site est disponible sous licence libre <a href="https://www.gnu.org/licenses/gpl.html">GNU GPL v3</a> et peut être fourni sur simple demande par mail (cf. menu Contact).
                </p>
                <p class="text-muted">
                    Propulsed by <a href="http://symfony.com">Symfony2</a> with <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://jquery.com/">jQuery</a>. Inspired by <a href="https://github.com/CaraGk/gesseh">Gesseh</a>
                </p>
            </footer>
        </div>



        {% block javascript %}
            {% javascripts
            'js/jquery.min.js'
            'bootstrap/js/bootstrap.min.js' %}
            <!-- 'OpenLayers_v3.7.0-dist/ol.js'
            'tree_checkbox.js'%#} -->
            <script type="text/javascript" src="{{ asset_url }}"></script>
            <!-- 'jstree/dist/jstree.min.js' -->
            <!-- 'CheckTree/jquery.checktree.js' -->
            {% endjavascripts %}
        {% endblock javascript %}
    </body>
</html>
