
{% extends "::layout.html.twig" %}

{% block body %}
    <form action = "{{ path('GDuty_consult_schedule') }}" method = "post">
    {% set max_item_nb = 5 %}
        <select name = "dutyPost[]" multiple = "multiple" size = {{ min(max_item_nb, dutyPostList | length + 1) }}>
            <option value = "all" {% if "all" in app.request.get('dutyPost') %} selected{% endif %}>tous</option>
            {% for dutyPost in dutyPostList %}
                <option value = "{{ dutyPost.id }}"{% if dutyPost.id in app.request.get('dutyPost') and "all" not in app.request.get('dutyPost') %} selected{% endif %}>{{ dutyPost.name }}</option>
            {% endfor %}
        </select>
        <select name = "user[]" multiple = "multiple" size = {{ min(max_item_nb, userList | length + 1) }}>
            <option value = "all" {% if "all" in app.request.get('user') %} selected{% endif %}>tous</option>
            {% for user in userList %}
                <option value = "{{ user.id }}"{% if user.id in app.request.get('user') and "all" not in app.request.get('user') %} selected{% endif %}>{{ user.usernameCanonical }}</option>
            {% endfor %}
        </select>
        <input type = "submit" value = "valider" />
    </form>

	{% for duty in duties %}
		<div>
			<p>Période : {{ duty.startDate | date('d/m/Y') }} - {{ duty.endDate | date('d/m/Y') }}</p>
			<p>Service : {{ duty.dutyPost.name }}</p>
			<p>Médecin : {{ duty.user.usernameCanonical }}</p>
		</div>
	{% endfor %}
    
{% endblock %}
