{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}

    {{ form_start(user_job_allocation_form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(user_job_allocation_form) }}

    {{ form_end(user_job_allocation_form) }}

    <p>
        <a href='{{ path('GCore_AdminJobAllocationManagement', {'id': job.id}) }}'>Cancel</a>
    </p>

{% endblock core_content %}
