{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}

    <p>
        Job "{{ job.name }}"
    </p>

    <p>
        <a href='{{ path('GCore_AdminAllocateUserToJob', {'id': job.id}) }}'>add a user</a>
    </p>

    {% for jobAllocation in jobAllocations %}
        <p>
            {{ jobAllocation.startDate | date('d/m/Y') }} - {{ jobAllocation.endDate | date('d/m/Y') }} : {{ jobAllocation.user.name }}
            <a href='{{ path('GCore_AdminDeleteJobAllocation', {'id': jobAllocation.id}) }}'>delete</a>
        </p>
    {% endfor %}


{% endblock core_content %}
