{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}
    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}
    
    <table>
        <thead>
            <tr>
                <td>Start date</td>
                <td>End date</td>
                <td>Groups</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for jobAllocationPeriod in jobAllocationPeriods %}
                <tr>
	            {% if id == jobAllocationPeriod.id %}
	                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <td>
	                    {{ form_widget(form.startDate) }}
                        </td>
                        <td>
                            {{ form_widget(form.endDate) }}
                        </td>
                        <td>
                            {{ form_widget(form.groups) }}
                        </td>
                        <td>
                            {{ form_widget(form.save) }}
                            {{ form_widget(form.reset) }}
                            <a href="{{ path('GCore_AdminJobAllocationPeriods') }}" class="btn btn-default">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                                Cancel
                            </a>
                        </td>
	                {{ form_end(form) }}
	            {% else %}
                        <td>
	                    {{ jobAllocationPeriod.startDate|date("d/m/Y") }}
                        </td>
                        <td>
	                    {{ jobAllocationPeriod.endDate|date("d/m/Y") }}
                        </td>
                        <td>
                            <ul>
                                {% for group in jobAllocationPeriod.groups %}
                                    <li>{{ group.completeTitle }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <!-- <ul>
                            <li> -->
	                    {% if jobAllocationPeriod.completed == true %}
		                completed
                                <a href="{{ path('GCore_AdminJobAllocationPeriodCompletion', {'id':jobAllocationPeriod.id}) }}" title="unlock">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
	                    {% else %}
		                <a href="{{ path('GCore_AdminJobAllocationPeriods', {'id':jobAllocationPeriod.id}) }}" title="change period">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
	                    {% endif %}
                            <!-- </li>
                            <li> -->
	                    <a href="{{ path('GCore_AdminJobAllocationForPeriod', {'periodId':jobAllocationPeriod.id}) }}" title="job allocations">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                            <!-- </li> -->
                            <!-- </ul> -->
                        </td>
	            {% endif %}
                </tr>
            {% endfor %}

            {% if id < 0 %}
                <tr>
                    <td colspan="4">
                        New period for job allocations
                    </td>
                </tr>
                <tr>
        	    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <td>
	                {{ form_widget(form.startDate) }}
                    </td>
                    <td>
                        {{ form_widget(form.endDate) }}
                    </td>
                    <td>
                        {{ form_widget(form.groups) }}
                    </td>
                    <td>
                        {{ form_widget(form.save) }}
                        {{ form_widget(form.reset) }}
                    </td>
	            {{ form_end(form) }}
                </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock core_content %}
