{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}
    
    <h1>
        Period {{ jobAllocationPeriod.startDate|date("d/m/Y") }} - {{ jobAllocationPeriod.endDate|date("d/m/Y") }}
    </h1>
    {% if jobAllocationPeriod.completed == false %}
        {% if allUsersAllocated == true %}
            <p>
                <a href="{{ path('GCore_AdminJobAllocationPeriodCompletion', {'id':jobAllocationPeriod.id}) }}">
                    <span class="glyphicon glyphicon-lock"></span>
                    Set completed</a>
            </p>
        {% endif %}

        <form action="{{ path('GCore_AdminJobAllocationForPeriod', {'periodId': jobAllocationPeriod.id}) }}" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="userId" class="col-sm-1 control-label">Next user</label>
                <div class="col-sm-5">
                    <select name="userId" id="userId" class="form-control">
                        {% for user in users %}
                            <option value="{{ user.id }}"  {% if nextUser is not null and user == nextUser %} selected{% endif %}>{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-1">
                    <input type="submit" name="save" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </form>
        
        <p>
            <a href="{{ path('GCore_AdminJobAllocationForPeriod', {'periodId':jobAllocationPeriod.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-refresh"></span>
                Reload job allocations</a>
        </p>
        
        {% for user in users %}
            {% if user == newJobAllocation.user %}
                <h2>
                    {{ user }}
                </h2>

                <ul>
                    {% for jobAllocation in jobAllocationPeriod.jobAllocations %}
                        {% if user == jobAllocation.user and newJobAllocation != jobAllocation %}
                            <li>
                                {{ jobAllocation.job }} : {{ jobAllocation.startDate|date("d/m/Y") }} - {{ jobAllocation.endDate|date("d/m/Y") }}
                                <a href='{{ path('GCore_AdminJobAllocationForPeriod', {'periodId':jobAllocationPeriod.id , 'userId':jobAllocation.user.id, 'jobAllocationId':jobAllocation.id}) }}'>modify</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </p>
            {% endif %}
        {% endfor %}
    {% endif %}

    <ul>
    {% for hospital in hospitals %}
        <li>
            {{ hospital }}
            <ul>
            {% for department in departments %}
                {% if hospital == department.hospital %}
                    <li>
                        {{ department }}
                        <ul>
                        {% for job in jobs %}
                            {% if department == job.department %}
                                <li>
                                    {#% set jobAllocationsNumber = 0 %#}
                                    {#% for jobAllocation in job.jobAllocations %#}
                                        {#% if jobAllocationPeriod ==  jobAllocation.jobAllocationPeriod %#}
                                            {#% set jobAllocationsNumber = jobAllocationsNumber + 1 %#}
                                        {#% endif %#}
                                    {#% endfor %#}
                                    {{ job }} ({{ job.maxAllocationsNumber }})
                                    <ul>
                                    {% for jobAllocation in jobAllocations %}
                                        {% if job == jobAllocation.job and jobAllocation != newJobAllocation %}
                                            <li {% if jobAllocation not in jobAllocationPeriod.jobAllocations %} class="inactive" title="belongs to another job allocation period"{% endif %}>
                                                {{ jobAllocation.user }}
                                                ({{ jobAllocation.startDate is empty ? "" : jobAllocation.startDate|date("d/m/Y") }} -
                                                {{ jobAllocation.endDate is empty ? "" : jobAllocation.endDate|date("d/m/Y") }})
                                                {% if jobAllocationPeriod.completed == false and jobAllocation in jobAllocationPeriod.jobAllocations %}
                                                    <a href="{{ path('GCore_AdminJobAllocationForPeriod', {'periodId':jobAllocationPeriod.id , 'userId':jobAllocation.user.id, 'jobAllocationId':jobAllocation.id}) }}" title="modify">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </a>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>

{% endblock core_content %}
