{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}
    <ul>
        {% for hospital in hospitals %}
            <li>
                {{ hospital.name }}
                <a href="{{ path('GCore_ShowHospital', {'id': hospital.id}) }}" title="Show">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
                <ul>
                    {% for department in departments %}
                        {% if department.hospital == hospital %}
                            <li>
	                        {{ department.name }}
	                        <a href="{{ path('GCore_ShowDepartment', {'id': department.id}) }}" title="Show">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </a>
	                        <ul>
	                            {% for job in jobs %}
	                                {% if job.department == department %}
	                                    <li>
	                                        {{ job.name }}
	                                        <a href="{{ path('GCore_ShowJob', {'id': job.id}) }}" title="Show">
                                                    <span class="glyphicon glyphicon-info-sign"></span>
                                                </a>
	                                    </li>
	                                {% endif %}
	                            {% endfor %}
	                        </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock core_content %}
