{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}

    <h2>Job {{ job.name }}</h2>

    {% if job.description is not null %}
        <p>
            {{ job.description }}
        </p>
    {% endif %}

    <p>
        Maximum number of allocations: {{ job.maxAllocationsNumber }}
    </p>
    
    <h3>Head</h3>
    <p>
        {{ job.head }}
    </p>
    <p>
        Email: {{ job.email }}
    </p>
    <p>
        Phone: {{ job.phone }}
    </p>

    <h3>Sectors</h3>

    <ul>
        {% for sector in job.sectors %}
            <li>{{ sector.name }}</li>
        {% endfor %}
    </ul>


    <p>
        <a href="{{ path('GCore_ListJobSites') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back to list of job sites
        </a>
    </p>
    
{% endblock %}
