{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}

    <h2>Department {{ department.name }}</h2>

    {% if department.description is not null %}
        <p>
            {{ department.description }}
        </p>
    {% endif %}

    <h3>Head</h3>
    <p>
        {{ department.head }}
    </p>
    <p>
        Email: {{ department.email }}
    </p>
    <p>
        Phone: {{ department.phone }}
    </p>

    <p>
        <a href="{{ path('GCore_ListJobSites') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back to list of job sites
        </a>
    </p>

{% endblock %}
