{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}

    <h2>Hospital {{ hospital.name }}</h2>

    {% if hospital.description is not null %}
        <p>
            {{ hospital.description }}
        </p>
    {% endif %}
    
    <adress>
        <dl class="dl-horizontal">
            <dt>Adress</dt>
            <dd>
                {{ hospital.street }}<br/>
                {{ hospital.postcode }} {{ hospital.city }} - {{ hospital.country }}
            </dd>
            
            <dt>Phone</dt>
            <dd>{{ hospital.phone }}</dd>

            <dt>Website</dt>
            <dd><a href="{{ hospital.website }}">{{ hospital.website }}</a></dd>
        </dl>
    </adress>

    <p>
        <a href="{{ path('GCore_ListJobSites') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back to list of job sites
        </a>
    </p>
    
{% endblock %}
