{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h2>Choose</h2>

    <h3>User's priorities</h3>

    <form action="{{ path('GUser_AdminUsersPriorities') }}", method="post">
        {% for key, userPriorityType in userPriorityTypes %}
            <label for="userPriorityType_{{ key }}">{{ userPriorityType }}</label>
            <input type="radio" name="userPriorityType" value="{{ key }}" id="userPriorityType_{{ key }}" />
        {% endfor %}

        <input type="submit" name="choose" value="OK" />
    </form>

    <h3>Group's priorities</h3>

    <form action="{{ path('GUser_AdminGroupsPriorities') }}", method="post">
        {% for groupPriorityType in groupPriorityTypes %}
            <label for="groupPriorityType_{{ groupPriorityType }}">{{ groupPriorityType }}</label>
            <input type="radio" name="groupPriorityType" value="{{ groupPriorityType }}" id="groupPriorityType_{{ groupPriorityType }}" />
        {% endfor %}

        <input type="submit" name="choose" value="OK" />
    </form>
{% endblock %}
