{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h2>Priority {{ priorityType }}</h2>

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <input type="hidden" name="userPriorityType" value="{{ priorityType }}" />
    {{ form_end(form) }}
    
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Type</th>
                <th>Priority</th>
                <th>Period</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for userPriorities in usersPriorities %}
                <tr>
                    <td rowspan = "{{ userPriorities.priorities|length }}">
                        {{ userPriorities.user }}
                    </td>
                    {% set i = 1 %}
                    {% for priority in userPriorities.priorities %}
                        {% if i == 0 %}
                            <tr>
                        {% endif %}
                        <td>
                            {{ priority.type }}
                        </td>
                        <td>
                            {{ priority.priority }}
                        </td>
                        <td>
                            {{ priority.startDate is null ? "" : priority.startDate|date('d/m/Y') }} -
                            {{ priority.endDate is null ? "" : priority.endDate|date('d/m/Y') }}
                        </td>
                        <td>
                            <a href="{{ path('GessehUser_AdminDeleteUserPriority', {'id' : priority.id, 'priorityType' : priorityType}) }}" title="Delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                            </tr>
                            {% set i = 0 %}
                    {% endfor %}
            {% endfor %}
        </tbody>
    </table>
            
{% endblock %}
