{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h2>Priority {{ priorityType }}</h2>

    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    <table>
        <thead>
            <tr>
                <th>Group</th>
                <th>Type</th>
                <th>Priority</th>
                <th>Period</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for groupPriorities in groupsPriorities %}
                <tr>
                    <td rowspan = "{{ groupPriorities.priorities|length }}">
                        {{ groupPriorities.group.completeTitle }}
                    </td>
                    {% set i = 1 %}
                    {% for priority in groupPriorities.priorities %}
                        {% if i == 0 %}
                            <tr>
                        {% endif %}
                        <td>
                            {{ priority.type }}
                        </td>
                        <td>
                            {{ priority.priority }}
                        </td>
                        <td>
                            {{ priority.startDate is null ? "" : priority.startDate|date('d/m/Y') }} -
                            {{ priority.endDate is null ? "" : priority.endDate|date('d/m/Y') }}
                        </td>
                        <td>
                            <a href="{{ path('GessehUser_AdminDeleteGroupPriority', {'id' : priority.id, 'priorityType' : priorityType}) }}">delete</a>
                        </td>
                            </tr>
                            {% set i = 0 %}
                    {% endfor %}
            {% endfor %}
        </tbody>
    </table>
            
{% endblock %}
