{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}

    <h2>My job allocations</h2>

    <ul>
        {% for jobAllocation in jobAllocations %}
            <li>
                {{ jobAllocation.job.name }} ({{ jobAllocation.job.department.name }}, {{ jobAllocation.job.department.hospital.name }}) {{ jobAllocation.startDate | date('d/m/Y') }} - {{ jobAllocation.endDate | date('d/m/Y') }}
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}
