
html, body {
        height: 100%;
}

footer {
        background-color: #f5f5f5;;
        margin-top: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 5px;
        padding-left: 5px;
}

form .col-sm-5 {
        width: auto;
}

form label.control-label.required:before {
        content: "* ";
        font-size: 1.3em;
        font-weight: bold;
}


.messages {
        margin-top: 3em;
        /* padding-left: 1em;
           padding-right: 1em;
           padding-top: 0.2ex;
           padding-bottom: 0.2ex;
           background-color: rgb(255,255,200);
           font-weight: bold;
           font-size: 1.1em; */
}
/* 
   .notice {
   color: rgb(30,160,0);
   }

   .warning {
   color: rgb(255,100,0);
   }

   .error {
   color: rgb(255,0,0);
   } */

.content {
        min-height: 300px;
}

blockquote {
        font-size: 1em;
}

.alert-info a {
        text-decoration: underline;
}


.presentation_image {
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
}

.presentation_image img {
        width: 400px;
}

.presentation_text {
        margin-top: 40px;
        padding-top: 0px;
}

/* Wrapper for page content to push down footer */
/* #wrap {
        min-height: 100%;
        height: auto;
        margin: 0 auto -60px;
        padding: 0 0 60px;
} */

/* Set the fixed height of the footer here */
/* #footer {
   height: 60px;
   background-color: #f5f5f5;
   } */

/* [class*="col-"], footer {
   background-color: lightgreen;
   border: 2px solid black;
   border-radius: 6px;
   line-height: 40px;
   text-align: center;
   } */

/* .container {
   width: auto;
   max-width: 680px;
   padding: 0 15px;
   }
   .container .credit {
   margin: 20px 0;
   } */

/* .FOS_login_label {
   padding: 5px;
   display: inline-block;
   width: 200px;
   text-align: right;
   }

   .FOS_login_field {
   display: inline-block;
   width: 300px;
   } */

.inactive {
        color: rgb(150,150,150);
}

/* .table_courses {
   table-layout: fixed;
   } */
/* 
   .table_courses td {
   border: solid 1px rgb(0,0,0);
   padding-left: 3px;
   padding-right: 3px;
   } */

/* .table_courses thead { */
thead {
        font-weight: bold;
        background-color: rgb(200,200,200);
}

/* .table_courses thead td { */
thead td {
        text-align: center;
}

.table_courses .ranked_tag {
        padding-left: 4em;
        background-color: rgb(230,230,230);
}

.table_courses h3 {
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
}

.table_courses .title {
        width: 20%;
}

.table_courses .description {
        width: 20%;
}

.table_courses .authors {
        width : 15%;
}

.table_courses .licence {
        width: 8%;
}

.table_courses .files {
        width: 20%;
}

.table_courses .tags {
        width: 10%;
}

.table_courses ul {
        left-padding: 0px;
}

.table_courses .licence_value > a {
        display: none;
}

.table_courses .licence_value:hover > a {
        display: inline;
}


/* Groups tree*/

#tree li {
        list-style-type: none;
}

.tree_group > span > label {
        padding-left: 5px;
        min-width: 150px;
        font-weight: bold;
        font-size: 1.1em;
}

.tree_group_family > span > label {
        font-size: 1.3em;
        font-style: italic;
}

.tree_group > span > label:hover {
        color: rgb(80,0,0);
}

.tree_group > input[type=checkbox] {
        display: none;
}

.tree_group > span > .action {
        display: none;
}

.tree_group > span:hover > .action {
        display: inline;
}

.tree_group > span > .action > a {
        padding-left: 5px;
}

.tree_user > label {
        padding-left: 5px;
        min-width: 150px;
        font-weight: normal;
}

.tree_user > .action {
        display: none;
}

.tree_user:hover > .action {
        display: inline;
}

.tree_user > .action > a {
        padding-left: 10px;
}
