{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">{{ 'security.login.username'|trans }}</label>
            <div class="col-sm-3">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans }}" />
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">{{ 'security.login.password'|trans }}</label>
            <div class="col-sm-3">
                <input type="password" id="password" name="_password" required="required"  class="form-control" placeholder="{{ 'security.login.password'|trans }}" />
            </div>
        </div>

        <!-- <div>
        <div class="FOS_login_label">
        </div>
        <div class="FOS_login_field">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        </div> -->

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-default" />
            </div>
        </div>
    </form>
{% endblock fos_user_content %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
    document.getElementById('username').focus();
    </script>
{% endblock %}
