{% extends "::layout.html.twig" %}

{% block content %}

    <div class="jumbotron">
        <div class="container"><!-- table-responsive -->
            <p>
                Le site est actuellement en cours de construction.
            </p>
            <p>
                Pour toute information vous pouvez contacter :
                <ul>
                    <li>l’assocation par mail : associlar_AT_yahoo.fr</li>
                    <li>ou l’association des internes en exercice des hôpitaux lillois (aiehl.secretariat_AT_gmail.com)</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="container">
        {% block home_content %}
        {% endblock home_content %}
    </div>

{% endblock %}
