Hello {{ user.name }}

You did it! You registered!

Here are your credentials:
- login: {{ user.username }}
- password: {{ user.password }}

To login, go to: {{ url('fos_user_security_login') }}.

Thanks!
