{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}

    {{ form_start(form) }}
    
    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock fos_user_content %}
