{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <h2>
        {% if group is defined %}
            Edition of {{ group.completeTitle }}
        {% else %}
            New group
        {% endif %}
    </h2>

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock fos_user_content %}
