{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <h2>List of groups</h2>

    <div class="alert-info">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Italic : family group
    </div>
    
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Actions
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li>
                <a href = '{{ path('GUser_AdminNewGroup') }}'>add a group</a>
            </li>
        </ul>
    </div>

    {{ groups_tree(groups) }}

{% endblock %}
