{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% for id,roleApplication in roleApplications %}
        <p>
            {% if roleApplication.object is not null %}{{ roleApplication.object }} : {% endif %}
            {{ roleApplication.role }}
            <a href='{{ path('GUser_AdminDeleteRoleApplication', {'userId': user.id, 'roleAppId': id}) }}'>delete</a>
        </p>
    {% endfor %}


    <p>
        New role :
    </p>

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.role) }}
    {{ form_row(form.group) }}

    {{ form_end(form) }}

    <p>
        <a href='{{ path('GUser_AdminListUsers') }}'>Cancel</a>
    </p>

    <script>
    var $role = $('#role_application_role');
    // When role gets selected ...
    $role.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected role value.
            var data = {};
            data[$role.attr('name')] = $role.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                    url : $form.attr('action'),
                    type: $form.attr('method'),
                    data : data,
                    success: function(html) {
                            // Replace current group field ...
                            $('#role_application_group').replaceWith(
                                    // ... with the returned one from the AJAX response.
                                    $(html).find('#role_application_group')
                            );
                            // Group field now displays the appropriate groups.
                    }
            });
    });
    </script>
    
{% endblock fos_user_content %}
