{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <h2>
        {% if changeGroupAction == 'change' %}
            Change groups
        {% elseif changeGroupAction == 'upgrade' %}
            Upgrade groups
        {% endif %}
    </h2>

    {#% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %#}
    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}

    <div class="form-group">
        <label class="col-sm-2 control-label">
            Users
        </label>
        <div class="col-sm-10">
            {% for user in users %}
                <label class="checkbox-inline">
                    <input type="checkbox" name="user_{{ user.id }}" id="user_{{user.id}}" value=1 checked />
                    {{ user }}
                </label>
            {% endfor %}
        </div>
    </div>
    
    {{ form_widget(form) }}

    {% if changeGroupAction == 'change' %}
        <input type="hidden" name="changeGroupAllocations" value="1" />
    {% elseif changeGroupAction == 'upgrade' %}
        <input type="hidden" name="upgradeGroupAllocations" value="1" />
    {% endif %}

    {{ form_end(form) }}



    <script src="{{ asset('bundles/gessehuser/js/jquery.min.js') }}"></script>

    <script type="text/javascript">
    $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#confirm_change_member_group_memberGroups');
            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<a href="#" id="add_admin_group">Add a member group</a>');
            $container.append($addLink);
            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function(e) {
                    addMemberGroup($container);
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
            });
            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;
            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                    addMemberGroup($container);
            }
            //else {
            // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
            //    $container.children('div').each(function() {
            //    addDeleteLink($(this));
            // });
            //}
            // La fonction qui ajoute un formulaire Categorie
            function addMemberGroup($container) {
                    // Dans le contenu de l'attribut « data-prototype », on remplace :
                    // - le texte "__name__label__" qu'il contient par le label du champ
                    // - le texte "__name__" qu'il contient par le numéro du champ
                    var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Admin Group n°' + (index+1))
                            .replace(/__name__/g, index));
                    // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                    addDeleteLink($prototype);
                    // On ajoute le prototype modifié à la fin de la balise <div>
                    $container.append($prototype);
                    // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                    index++;
            }
            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                    // Création du lien
                    $deleteLink = $('<a href="#">Delete this group</a>');
                    // Ajout du lien
                    $prototype.append($deleteLink);
                    // Ajout du listener sur le clic du lien
                    $deleteLink.click(function(e) {
                            $prototype.remove();
                            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                            return false;
                    });
            }
    });
    </script>


{% endblock fos_user_content %}
