{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <h2>Edition of {{ user.name }}</h2>

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}

    {{ form_widget(form) }}
    
    {{ form_end(form) }}

{% endblock fos_user_content %}


{% block javascript %}

    {{ parent() }}

    {# Voici le script en question : #}
    <script type="text/javascript">
    $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $('div#user_password_auto_groupAllocations');
            // remove automatic numbering of subforms
            $container.find('.required').remove();
            
            //console.log($container.find('.required'));
            
            // On ajoute un lien pour ajouter une nouvelle catégorie
            var $addLink = $('<a href="#" id="add_admin_group" class="btn btn-default">Add a group</a>');
            $container.append($addLink);
            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $addLink.click(function(e) {
                    addGroupAllocation($container);
                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
            });
            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;
            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                    addGroupAllocation($container);
            } else {
                    // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
                    $container.children('div').each(function() {
                            addDeleteLink($(this));
                    });
            }
            // La fonction qui ajoute un formulaire Categorie
            function addGroupAllocation($container) {
                    // Dans le contenu de l'attribut « data-prototype », on remplace :
                    // - le texte "__name__label__" qu'il contient par le label du champ
                    // - le texte "__name__" qu'il contient par le numéro du champ
                    //var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Group n°' + (index+1))
                    var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, '').replace(/__name__/g, index));
                    // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                    addDeleteLink($prototype);
                    // On ajoute le prototype modifié à la fin de la balise <div>
                    $container.append($prototype);
                    // remove automatic numbering of subforms
                    $container.find('.required').remove();//text('');
                    // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                    index++;
            }
            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                    // Création du lien
                    $deleteLink = $('<a href="#" class="btn btn-danger">Delete this group</a>');
                    // Ajout du lien
                    $prototype.append($deleteLink);
                    // Ajout du listener sur le clic du lien
                    $deleteLink.click(function(e) {
                            $prototype.remove();
                            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                            return false;
                    });
            }
    });
    </script>

{% endblock %}
