{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <h2>Import users <small>(from a file)</small></h2>
    
    <p class="alert-info">
        The file must be in <a href="https://en.wikipedia.org/wiki/Comma-separated_values">CSV format</a> and contain at least these column names : <strong>email</strong>, <strong>surname</strong>.<br/>
        Other possible column names are : firstname, title, phone, street, postcode, city, country, username and password.
    </p>


    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}
    
{% endblock fos_user_content %}
