{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <h2>List of users</h2>
    
    <form action="" method="post" class="form-inline container">
        <div class="col-sm-1">
            <label for="search" title="Search by expression">Search :</label>
        </div>
        <div class="col-sm-11">
            <input type="text" id="searchText" name="searchText" id="searchText" value="{{ searchText }}" class="form-control" />
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" name="surnameCriterion" id="surnameCriterion" value="1" {% if searchCriteria.surname is defined %} checked{% endif %} />
                    Surname
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="firstnameCriterion" id="firstnameCriterion" value="1" {% if searchCriteria.firstname is defined %} checked{% endif %} />
                    Firstname
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="usernameCriterion" id="usernameCriterion" value="1" {% if searchCriteria.username is defined %} checked{% endif %} />
                    Username
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="emailCriterion" id="emailCriterion" value="1" {% if searchCriteria.email is defined %} checked{% endif %} />
                    Email
                </label>

                <label class="checkbox-inline">
                    Sort
                    <select name="displaySorting" id="displaySorting">
                        <option value="asc"{% if 'asc' in searchCriteria %} selected{% endif %}>ascending</option>
                        <option value="desc"{% if 'asc' not in searchCriteria %} selected{% endif %}>decreasing</option>
                    </select>
                </label>
                
                <input type="submit" value="submit" class="btn btn-primary btn-sm" />
            </div>
        </div>
        <div class="col-sm-1">
            <p title="Search by groups"><strong>Groups :</strong></p>
        </div>
        <div class="col-sm-11">
        {% set groupsDisplay = [] %}
        {% for group in groups %}
            <label for="group{{ group.id }}" class="checkbox-inline">
                <input type="checkbox" name="group{{ group.id }}" id="group{{ group.id }}" value="1" {% if group.id in groupsIdDisplay %} checked {% endif %} />
                {{ group }}
            </label>
            {% if group.id in groupsIdDisplay %}
                {% set groupsDisplay = groupsDisplay|merge([group]) %}
            {% endif %}
        {% endfor %}
        </div>
    </form>

    <div class="alert-info">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Click on groups names to select many users
    </div>

    <form action="{{ path('GUser_AdminEditUsers') }}" method="post">

        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li>
                    <a href = '{{ path('GUser_AdminNewUser') }}'>add a user</a>
                </li>
                <li>
                    <a href = '{{ path('GUser_AdminImportUsers') }}'>import users</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">For selected users</li>
                <li>
                    <input type="submit" name = "deleteUsers" value="delete users" onclick = 'return confirm("Are you sure ?")'  class="btn btn-link" />
                </li>
                <li>
                    <input type="submit" name = "changeGroupAllocations" value="modify groups" class="btn btn-link" />
                </li>
                <li>
                    <input type="submit" name = "upgradeGroupAllocations" value="upgrade groups" class="btn btn-link" />
                </li>
            </ul>
        </div>
        

        {{ groups_tree(groupsDisplay, null, users, false) }}

    </form>
    <!-- <p>Not affiliated to any group :</p> -->
    <!-- {% for user in users %} -->
    <!-- {% if user.groups|length == 0 %} -->
    <!-- <p>{{ user_display(user) }}</p> -->
    <!-- {% endif %} -->
    <!-- {% endfor %} -->

    <!-- -- TEST -- -->
    <!-- {% for user in users %} -->
    <!-- {{ user.name }} -->
    <!-- {% endfor %} -->

{% endblock %}



{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/tree_checkbox.js') }}" type="text/javascript"></script>
{% endblock %}
