{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <h2>{% if user.title is not null %}{{ user.title }} {% endif %}{{ user.name }}</h2>

    <p>
        Username: {{ user.username }}
    </p>
    <h3>Contact</h3>
    <p>
        Email: {{ user.email }}
    </p>
    <p>
        Phone: {{ user.phone }}
    </p>
    <p>
        Adress: {{ user.adress }}
    </p>

    <h3>Groups</h3>
    <ul>
    {% for groupAllocation in user.groupAllocations %}
        <li>
            {{ groupAllocation.group }}
        </li>
    {% endfor %}
    </ul>

    <p>
        <a href="{{ path('GUser_AdminListUsers') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back to users list
        </a>
    </p>

{% endblock fos_user_content %}
