{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock core_content %}
