{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}

    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Actions
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li>
                <a href="{{ path('GCore_AdminNewSector') }}">add a sector</a>
            </li>
        </ul>
    </div>

    <ul>
        {% for sector in sectors %}
            <li>
                {{ sector.name }}
                <a href="{{ path('GCore_AdminEditSector', {'id': sector.id}) }}" title="Edit">
                   <span class="glyphicon glyphicon-edit"></span> 
                </a>
                <a href="{{ path('GCore_AdminDeleteSector', {'id': sector.id}) }}" title="Delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock core_content %}
