{% extends "GessehCoreBundle::layout.html.twig" %}

{% block core_content %}

    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Actions
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <li>
                <a href="{{ path('GCore_AdminNewHospital') }}">add an hospital</a>
            </li>
            <li>
                <a href="{{ path('GCore_AdminNewDepartment') }}">add a department</a>
            </li>
            <li>
                <a href="{{ path('GCore_AdminNewJob') }}">add a job</a>
            </li>
        </ul>
    </div>

    <ul>
        {% for hospital in hospitals %}
            <li>
                {{ hospital.name }}
                <a href="{{ path('GCore_AdminEditHospital', {'id': hospital.id}) }}"  title="Edit">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="{{ path('GCore_AdminDeleteHospital', {'id': hospital.id}) }}" title="Delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                <a href="{{ path('GCore_AdminNewDepartment', {'hospitalId': hospital.id}) }}" title="Add a department">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
                <ul>
                    {% for department in departments %}
                        {% if department.hospital == hospital %}
                            <li>
	                        {{ department.name }}
	                        <a href="{{ path('GCore_AdminEditDepartment', {'id': department.id}) }}" title="Edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
	                        <a href="{{ path('GCore_AdminDeleteDepartment', {'id': department.id}) }}" title="Delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                <a href="{{ path('GCore_AdminNewJob', {'departmentId': department.id}) }}" title="Add a job">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </a>
	                        <ul>
	                            {% for job in jobs %}
	                                {% if job.department == department %}
	                                    <li>
	                                        {{ job.name }}
	                                        <a href="{{ path('GCore_AdminEditJob', {'id': job.id}) }}" title="Edit">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
	                                        <a href="{{ path('GCore_AdminDeleteJob', {'id': job.id}) }}" title="delete">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </a>
	                                        <a href="{{ path('GCore_AdminJobAllocationManagement', {'id': job.id}) }}" title="manage users' allocations">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </a>
	                                    </li>
	                                {% endif %}
	                            {% endfor %}
	                        </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock core_content %}
