{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <h2>Edition of my profile</h2>

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock fos_user_content %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
    });
    </script>
{% endblock %}
