{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <h2>Emails</h2>

    {% if usersDisplayedEmail|length > 0 %}
        <p>
            You can copy and paste these email addresses.
        </p>
        
        <textarea id="mail_list" cols="100" rows="{{ usersDisplayedEmail|length*0.5 }}">{% set sep = "" %}{% for key,user in usersDisplayedEmail %}{{ sep }}{{ user.name }}<{{ user.email }}>{% set sep = ", " %}{% endfor %}</textarea>

        <div>Separator :
            <select id="separator" class="">
                <option value=", " selected>,</option>
                <option value="; ">;</option>
                <option value="linebreak">line break</option>
            </select>
        </div>
    {% endif %}

    {#% if usersNonDisplayedEmail|length > 0 %#}
    <!-- <p class="alert-warning">
    The email address is not available for theses users:  usersNonDisplayedEmail|join(', ') 
    </p> -->
    {#% endif %#}

    <p>
        <a href="{{ path('GUser_ListUsers') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back to users list
        </a>
    </p>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
    $(document).ready(function(){
            var pattern = new RegExp(", |; |\n", "gi");

            $('#separator').on('change', function() {
                    if($(this).val() == "linebreak") {
                            $('#mail_list').val($('#mail_list').val().replace(pattern, "\n"));
                    } else {
                            $('#mail_list').val($('#mail_list').val().replace(pattern, $(this).val()));
                    }
            });
    });
    </script>
{% endblock %}
