{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <h2>List of users</h2>

    <form action="" method="post" class="form-inline container">
        <div class="col-sm-1">
            <label for="search" title="Search by expression">Search :</label>
        </div>
        <div class="col-sm-11">
            <input type="text" id="search" name="search" id="search" value="{{ search }}" class="form-control" />
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" name="surnameCriterion" id="surnameCriterion" value="1" {% if searchCriteria.surname is defined %} checked{% endif %} />
                    Surname
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="firstnameCriterion" id="firstnameCriterion" value="1" {% if searchCriteria.firstname is defined %} checked{% endif %} />
                    Firstname
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name="usernameCriterion" id="usernameCriterion" value="1" {% if searchCriteria.username is defined %} checked{% endif %} />
                    Username
                </label>

                <input type="submit" value="submit" class="btn btn-primary btn-sm" />
            </div>
        </div>
        <div class="col-sm-1">
            <p title="Search by groups"><strong>Groups :</strong></p>
        </div>
        <div class="col-sm-11">
            {% for group in groups %}
                <label for="group{{ group.id }}" class="checkbox-inline">
                    <input type="checkbox" name="group{{ group.id }}" id="group{{ group.id }}" value="1" {% if group in displayedGroups %} checked {% endif %} />
                    {{ group }}
                </label>
            {% endfor %}
        </div>
    </form>


    <div class="alert-info">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Click on groups names to select many users
    </div>
    
    <form action="{{ path('GUser_ListEmails') }}" method="post">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <!-- <li class="dropdown-header">Dropdown header</li> -->
                <li><input type="submit" name="listEmails" value="List emails" class="btn btn-link" /></li>
                <!-- <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li> -->
            </ul>
        </div>
        
        {{ groups_tree(displayedGroups, null, users, false, false, false) }}
    </form>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/tree_checkbox.js') }}" type="text/javascript"></script>
{% endblock %}
