{% extends "GessehUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <h2>
        {% if user == app.user %}
            My profile
        {% else %}
            {% if user.title is not null %}{{ user.title }} {% endif %}{{ user.name }}
        {% endif %}
    </h2>

    {% if user == app.user %}
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li>
                    <a href="{{ path('GUser_EditProfile') }}">Edit my profile</a>
                </li>
            </ul>
        </div>
    {% endif %}

    <dl class="dl-horizontal">
        {% if user == app.user %}
            <dt>
                Username
            </dt>
            <dd>
                {{ user.username }}
            </dd>
        {% endif %}

        <dt>
            Title
        </dt>
        <dd>
            {{ user.title }}
        </dd>
        
        <dt>
            E-mail
        </dt>
        <dd>
            {% if user.displayEmail == true or user == app.user %}{{ user.email }}{% if user.displayEmail == false %} (hidden){% endif %}{% endif %}
        </dd>

        <dt>
            Phone
        </dt>
        <dd>
            {% if user.displayPhone == true or user == app.user %}{{ user.phone }}{% if user.phone is not null and user.displayPhone == false %} (hidden){% endif %}{% endif %}
        </dd>

        <dt>
            Adress
        </dt>
        <dd>
            <adress>
                {% if user.street is not null %}{{ user.street}}, {% endif %}
                {% if user.city is not null %}
                    {% if user.postcode is not null %}{{ user.postcode}} {% endif %}
                    {{ user.city }},
                {% endif %}
                {% if user.country is not null %}{{ user.country }}{% endif %}
            </adress>
        </dd>

    </dl>
    {% if user != app.user %}
        <p>
            <a href="{{ path('GUser_ListUsers') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Back to users list
            </a>
        </p>
    {% endif %}

{% endblock fos_user_content %}
