
{% extends "::layout.html.twig" %}

{% block body %}
    <form action = "{{ path('GDuty_create_schedule') }}" method = "post">
        <select name = "dutyPostId">
            <option value = ""></option>
            {% for dutyPost in dutyPostsList %}
                <option value = "{{ dutyPost.id }}"{% if dutyPost.id == app.request.get('dutyPost') %} selected{% endif %}>{{ dutyPost.name }}</option>
            {% endfor %}
        </select>
        <input type = "text" name = "startDate" size = 8 value = "{{ app.request.get('minDate') }}" />
        <input type = "text" name = "endDate" size = 8 value = "{{ app.request.get('maxDate') }}" />
        <select name = "route">
            {% for route, routeTitle in availableRoutes %}
                <option value = "{{ route }}">{{ routeTitle }}</option>
            {% endfor %}
        </select>
        <input type = "submit" value = "valider" />
    </form>
{% endblock %}
