
{% extends "::layout.html.twig" %}

{% block body %}
    <p>
        Création du planning de garde pour "{{ dutyPost.name }}" du {{ schedulePeriod.startDate | date ('d/m/Y') }} au {{ schedulePeriod.endDate | date ('d/m/Y') }}
    </p>
    {{ form_start(form) }}
        {% for violations in violationsList %}
            Garde du {{ violations.startDate | date('d/m/Y') }} au {{ violations.endDate | date('d/m/Y') }}
            <ul>
            {% for violation in violations.violations %}
                <li>{{ violation.getMessage }}</li>
            {% endfor %}
            </ul>
        {% endfor %}

        <table>
            <thead>
                <tr>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Médecin</th>
                <tr>
            </thead>
            <tbody>
            {% for plannedDuty in form.plannedDuties %}
                <tr>
                    <td>{{ form_widget(plannedDuty.startDate) }}</td>
                    <td>{{ form_widget(plannedDuty.endDate) }}</td>
                    <td>{{ form_widget(plannedDuty.user) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{#        <input type = "submit" value = "valider" />#}
    {{ form_end(form) }}
{% endblock %}
