{% extends "::layout.html.twig" %}

{% block content %}

    <div class = "container">
        {#% if  app.request.attributes.get('_route') != 'fos_user_security_login' %#}
            {#{ knp_menu_render('user') }#}
        {#% endif %#}

        {% block fos_user_content %}
        {% endblock fos_user_content %}

    </div>

{% endblock %}
