{% extends "GessehCourseBundle::layout.html.twig" %}

{% block course_content %}

    <h3>Confirmation</h3>

    {% if remainingCourses|length > 0 %}
        <p>
            This author did these courses :
        </p>
        <ul>
        {% for remainingCourse in remainingCourses %}
            <li>{{ remainingCourse }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
    <p>
        <strong>Are you sure you want to delete the author "{{ author }}" ?</strong>
    </p>

    <form action="" method="post">
        <input type="submit" name="confirm_delete_author" value="yes" class="btn btn-danger" />
        <a href='{{ path('GCourse_AdminManageAuthor') }}' class="btn btn-default">cancel</a>
    </form>


{% endblock course_content %}
