{% extends "GessehCourseBundle::layout.html.twig" %}

{% block course_content %}
    <!-- to be moved near newTags fields -->
    {% if newTagsErrors | length > 0 %}
        {% for newTagsError in newTagsErrors %}
            {{ newTagsError.message }}
        {% endfor %}
    {% endif %}

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock course_content %}

{% block javascript %}
    
    {{ parent() }}
    
    <script type="text/javascript">
    $(document).ready(function() {
            var $container = $('div#course_courseMaterials');

            var $addLink = $('<a href="#" id="add_course_material" class="btn btn-default">Add a file</a>');
            $container.append($addLink);

            $addLink.click(function(e) {
                    addCourseMaterial($container);
                    e.preventDefault();
                    return false;
            });

            var index = $container.find(':input').length;

            if (index == 1) {
                    addCourseMaterial($container);
            } else {
                    $container.children('div').each(function() {
                            addDeleteLink($(this));
                    });
            }
            // La fonction qui ajoute un formulaire
            function addCourseMaterial($container) {
                    var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, '').replace(/__name__/g, index));

                    addDeleteLink($prototype);

                    $container.append($prototype);

                    index++;
            }
            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                    $deleteLink = $('<a href="#" class="btn btn-danger">Delete this file</a>');

                    $prototype.append($deleteLink);

                    $deleteLink.click(function(e) {
                            $prototype.remove();
                            e.preventDefault();
                            return false;
                    });
            }
    });
    </script>

    <script type="text/javascript">
    $(document).ready(function() {
            var $container = $('div#course_newTags');
      
            var $addLink = $('<a href="#" id="add_new_tag" class="btn btn-default">Add a tag</a>');
            $container.append($addLink);

            $addLink.click(function(e) {
                    addTag($container);
                    e.preventDefault();
                    return false;
            });

            var index = $container.find(':input').length;

            if (index == 1) {
                    addTag($container);
            } else {
                    $container.children('div').each(function() {
                            addDeleteTag($(this));
                    });
            }
            // La fonction qui ajoute un formulaire
            function addTag($container) {
                    var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'xxx').replace(/__name__/g, index));

                    addDeleteTag($prototype);

                    $container.append($prototype);

                    var f = $container.find('.form-group').find('.control-label').contents();

                    for (var i = 0, c = f.length; i < c; i ++) {
                            if( f[i].data == "xxx" ) {
                                    f[i].parentNode.remove();
                            }
                    }

                    index++;
            }
            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteTag($prototype) {
                    $deleteLink = $('<a href="#" class="btn btn-danger">Delete this Tag</a>');

                    $prototype.append($deleteLink);

                    $deleteLink.click(function(e) {
                            $prototype.remove();
                            e.preventDefault();
                            return false;
                    });
            }
    });
    </script>
{% endblock %}
