{% extends "GessehCourseBundle::layout.html.twig" %}

{% block course_content %}

    <!-- Checklist of available tags  -->
    <form action="" method="post" class="form-inline container">
        <p title="select tags associated with the courses you would like to see" class="col-sm-1"><strong>Tags :</strong></p>
        <div class="col-sm-11">
            {% for tag in rankedTags|merge(otherTags) %}
                <label class="checkbox-inline">
                    <input type="checkbox" name="tag_{{ tag.id }}" id="tag_{{ tag.id }}" value="1"{% if tag in searchTags %} checked {% endif %} />
                    {% if tag.title is not null %}
                        {{ tag.title }}
                        {% for t in  rankedTags|merge(otherTags) %}
                            {% if tag != t and tag.title == t.title %}
                                ({{ tag.name }})
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ tag.name }}
                    {% endif %}
                </label>
            {% endfor %}

            <input type="submit" value="submit" class="btn btn-primary btn-xs" />
        </div>
    </form>
    
    <!-- One table for each family group -->
    {% for familyCourses in coursesGroupedByFamilies if familyCourses.courses|length > 0 %}
        {% set displayedCoursesId = [] %}
        <h2>
            {% if familyCourses.family != 'others' %}
                {{ familyCourses.family.title }}
            {% else %}
                Others courses
            {% endif %}
        </h2>
        
        <div style="overflow-x:auto;">
            <table class="table_courses table table-condensed table-hover">
                <thead>
                    <tr>
                        <td class="title">Title</td>
                        <td class="description">Description</td>
                        <td class="authors">Authors</td>
                        <td class="licence">Licence</td>
                        <td class="files">Files</td>
                        <td class="tags">Tags</td>
                    </tr>
                </thead>
                <tbody>

                    <!-- One part for each major tag (ranked). Courses with no main tag are pushed in the last part ("none") -->
                    {% for rankedTag in rankedTags|merge(['none']) %}
                        {% set displayedTag = false %}
                        
                        {% for course in familyCourses.courses %}
                            {% if rankedTag in course.tags or (rankedTag == 'none' and course.id not in displayedCoursesId) %}
                                {% if displayedTag == false %}
                                    <tr class="ranked_tag">
                                        <td colspan="6">
                                            <h3>
                                                {% if rankedTag == 'none' %}
                                                    Others
                                                {% else %}
                                                    {{ rankedTag.title }}
                                                {% endif %}
                                            </h3>
                                        </td>
                                    </tr>
                                    {% set displayedTag = true %}
                                {% endif %}

                                {% set displayedCoursesId = displayedCoursesId|merge([course.id]) %}
                                <tr>
                                    <!-- Title of the course -->
                                    <td>
                                        {{ course.title }}

                                        {% set userIsAuthor = false %}
                                        {% for author in course.authors %}
                                            {% if author.user == authenticatedUser and null != authenticatedUser %}
                                                {% set userIsAuthor = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if is_granted(expression("has_role('ROLE_ADMIN_COURSE')")) or (is_granted(expression("has_role('ROLE_USER_MANAGE_COURSE')")) and userIsAuthor) %}
                                            <a href="{{ path('GCourse_EditCourse', {'id': course.id}) }}" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="{{ path('GCourse_DeleteCourse', {'id': course.id}) }}" title="Edit" onclick = 'return confirm("Are you sure ?")'><span class="glyphicon glyphicon-trash"></span></a>
                                        {% endif %}
                                    </td>

                                    <!-- Description of the course -->
                                    <td>
                                        {{ course.description }}
                                    </td>

                                    <!-- Authors -->
                                    <td>
                                        {% if course.authors | length == 0 %}
                                            unknown
                                        {% else %}
                                            {% set authors = [] %}
                                            {% for author in course.authors %}
                                                {% if author.user == authenticatedUser and null != authenticatedUser %}
                                                    {% set authors = authors|merge(['me']) %}
                                                {% else %}
                                                    {% set authors = authors|merge([author.__toString]) %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ authors|join(', ') }}
                                        {% endif %}
                                    </td>

                                    <!-- Licence -->
                                    <td class="licence_value">
                                        {{ course.licence }}
                                        <a href="{{ path('GCourse_ShowLicence', {'id': course.licence.id}) }}" title="Show">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </a>
                                    </td>

                                    <!-- Course materials (file) with access via a controller -->
                                    <td>
                                        {% if course.courseMaterials is not null %}
                                            <ul>
                                                {% for courseMaterial in course.courseMaterials %}
                                                    <li>
                                                        <!-- <a href='{#{ vich_uploader_asset(courseMaterial, 'courseMaterialFile') }#}'>{#{ courseMaterial }#}</a> -->
                                                        {{ courseMaterial }}
                                                        <a href="{{ path('GCourse_DownloadCourseMaterial', {'id': courseMaterial.id}) }}" title="Download">
                                                            <span class="glyphicon glyphicon-download"></span>
                                                        </a>
                                                        {% if courseMaterial.description is not null %}
                                                            <small>
                                                                {{ courseMaterial.description }}
                                                            </small>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </td>

                                    <!-- Tags -->
                                    <td>
                                        {% if course.tags is not null %}
                                            <ul>
                                                {% for tag in course.tags %}
                                                    <li>
                                                        {% if tag.title is not null %}
                                                            {{ tag.title }}
                                                            {% for t in  rankedTags|merge(otherTags) %}
                                                                {% if tag != t and tag.title == t.title %}
                                                                    <small>({{ tag.name }})</small>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            {{ tag.name }}
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock course_content %}
