{% extends "GessehCourseBundle::layout.html.twig" %}

{% block course_content %}

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}

    <h3>
        {% if id is not defined %}
            Add new tag
        {% else %}
            Edit
        {% endif %}
    </h3>
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    {% for tag in tags %}
	{% if id is not defined or tag.id != id %}
            <h3>
                {{ tag.name }}{% if tag.title is not null %} ({{ tag.title }}){% endif %}
                <small>
                    <a href="{{ path('GCourse_AdminEditTag', {'id':tag.id}) }}" title="Edit">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{{ path('GCourse_AdminDeleteTag', {'id':tag.id}) }}" title="Delete" onclick='return confirm("Are you sure ?")'>
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </small>
            </h3>
            <p>
	        Rank : {{ tag.rank }}
            </p>
            <p>
                {{ tag.courses|length }} courses
            </p>
	{% endif %}
    {% endfor %}

{% endblock course_content %}
