{% extends "GessehCourseBundle::layout.html.twig" %}

{% block course_content %}

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}

    <h3>
        {% if id is not defined %}
            Add new licence
        {% else %}
            Edit
        {% endif %}
    </h3>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    {% for licence in licences %}
	{% if id is not defined or licence.id != id %}
            <h3>
                {{ licence.title }}{% if licence.shortTitle is not null %} ({{ licence.shortTitle }}){% endif %}
                <small>
                    <a href="{{ path('GCourse_AdminEditLicence', {'id':licence.id}) }}" title="Edit">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{{ path('GCourse_AdminDeleteLicence', {'id':licence.id}) }}" title="Delete" onclick='return confirm("Are you sure ?")'>
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </small>
            </h3>
            <p>
	        {{ licence.description }}
            </p>
            <p>
                <a href="{{ licence.website }}">{{ licence.website }}</a>
                <p>
                    {% if licence.free %}
                        libre
                    {% else %}
                        non libre
                    {% endif %}
                </p>
                <p>
                    {{ licence.courses|length }} courses
                </p>
	{% endif %}

    {% endfor %}

{% endblock course_content %}
