{% extends "GessehCourseBundle::layout.html.twig" %}

{% block course_content %}

    {% form_theme form 'GessehCoreBundle:Form:fields.html.twig' %}

    <h3>
        {% if id is not defined %}
            {% if is_granted(expression("has_role('ROLE_ADMIN_AUTHOR')")) %}
                Add new author
            {% else %}
                Me as an author
            {% endif %}
        {% else %}
            Edit
        {% endif %}
    </h3>
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    
    {% for author in authors %}
	{% if id is not defined or author.id != id %}
            <h3>
                {{ author.availableTitle }} {{ author.name }}
                <small>
                    <a href="{{ path('GCourse_AdminEditAuthor', {'id':author.id}) }}" title="Edit">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{{ path('GCourse_AdminDeleteAuthor', {'id':author.id}) }}" title="Delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </small>
            </h3>
            <p>
                Email: {{ author.availableEmail }}
            </p>
            <p>
                Discipline: {{ author.discipline }}
            </p>
            <p>
	        Description: {{ author.description }}
            </p>
            <p>
                {{ author.courses|length }} courses
            </p>
	{% endif %}

    {% endfor %}

{% endblock course_content %}
