{% extends "GessehCourseBundle::layout.html.twig" %}

{% block course_content %}

    <h2>Licence {{ licence.title }} ({{ licence.shortTitle }})</h2>

    <dl class="dl-horizontal">
        <dt>Description</dt>
        <dd>
            {{ licence.description }}
        </dd>
        
        <dt>Website</dt>
        <dd><a href="{{ licence.website }}">{{ licence.website }}</a></dd>

        <dt>Free licence ?</dt>
        <dd>{% if licence.free %}free{% else %}non free{% endif %}</dd>
    </dl>
    
    <p>
        <a href="{{ path('GCourse_ListCourses') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back to courses
        </a>
    </p>
    
{% endblock %}
