
{% extends 'bootstrap_3_horizontal_layout.html.twig' %}
{# extends 'form_div_layout.html.twig' #}

{% block form_group_class -%}
col-sm-5
{%- endblock form_group_class %}

{# display of "cancel" button, if any #}
{%- block form_end -%}
    {%- if not render_rest is defined or render_rest -%}
        {{ form_rest(form) }}
    {%- endif -%}

    {% if form.vars.cancel_action is defined %}
        <div class="form-group">
            <div class="{{ block('form_label_class') }}"></div>
            <div class="{{ block('form_group_class') }}">
                <a class="btn btn-default" href="{{ form.vars.cancel_action }}" role="button">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Cancel
                </a>
            </div>
        </div>
    {% endif %}
    
    </form>
{%- endblock form_end -%}


{# adding a "required" asterisk #}

{%- block form_start -%}
    <div class="alert-info">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        Mandatory fields are marked with an asterisk
    </div>
    
    {{ parent() }}
{%- endblock form_start -%}

{#
{%- block form_label -%}
    {% spaceless %}
        {% if label is same as(false) %}
            <div class="{{ block('form_label_class') }}"></div>
        {% else %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) %}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
            {% if not compound -%}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {%- endif -%}
            {% if required -%}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {%- endif -%}
            {% if label is empty -%}
                {%- if label_format is not empty -%}
                    {% set label = label_format|replace({
                            '%name%': name,
                            '%id%': id,
                    }) %}
                {%- else -%}
                    {% set label = name|humanize %}
                {%- endif -%}
            {%- endif -%}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {% if required -%}
                    <span title="This field is required" class="required">* </span>
                {%- endif -%}
                {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}

            </label>
        {%- endif -%}
    {% endspaceless %}
{%- endblock form_label -%}
#}


{# default button with btn-primary style #}
{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-primary') ~ ' btn')|trim}) %}
    {{- parent() -}}
{%- endblock %}


{# block button for "reset" button  #}
{% block button_reset_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-warning') ~ ' btn')|trim}) %}

    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock %}


{# block for a "reset" widget #}
{%- block reset_widget -%}
    {%- set type = type|default('reset') -%}
    {{ block('button_reset_widget') }}
{%- endblock reset_widget -%}


{# block for a "reset" row #}
{% block reset_row -%}
    {% spaceless %}
        <div class="form-group">
            <div class="{{ block('form_label_class') }}"></div>
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock reset_row %}
