{% extends "::layout.html.twig" %}

{% block body %}

    <div class="container">
        <h2>An error occured</h2>

        {% block error_content %}
        {% endblock error_content %}

        <p>
            The server returned a "{{ status_code }} {{ status_text }}".
        </p>
    </div>
    
{% endblock body %}
