{% extends "GessehHomeBundle::layout.html.twig" %}

{% block home_content %}

    <section class="row">
        <div class="col-md-5">
            <adress>
                <dl class="dl-horizontal">
                    <dt>Adresse</dt>
                    <dd>
                        Pôle d'anesthésie<br/>
                        Hôpital Jeanne de Flandre<br/>
                        Centre Hospitalier Régional Universitaire de Lille<br/>
                        Av. Eugène Avinée - 59037 Lille
                    </dd>
                    
                    <dt>Téléphone</dt>
                    <dd>+33 320446259</dd>

                    <dt>Mél</dt>
                    <dd>associlar_AT_yahoo.fr</dd>
                    <dt>
                        Numéro <abbr title="Répertoire National des Associations">RNA</abbr><!-- <a href="http://vosdroits.service-public.fr/associations/F1926.xhtml#N10072"></a> -->
                    </dt>
                    <dd>W595002525</dd>
                </dl>
            </adress>
        </div>
        <div class="col-md-7">
            <!-- <iframe width="400" height="350" scrolling="no" marginheight="0" marginwidth="0" src="http://cartosm.eu/map?lon=3.0326557158205&lat=50.606420126254&zoom=15&width=400&height=350&mark=true&nav=true&pan=true&zb=bar&style=default&icon=right">coucou</iframe> -->
            <div id="map" class="map"><noscript>La visualisation de la carte nécessité l'activation de javascript. Pour la voir directement sur le site d'OpenStreetMap, cliquez sur le lien ci-dessous.</noscript></div>
            <div>
                <a href="http://www.openstreetmap.org/?mlat=50.6058&mlon=3.03274&zoom=15&layers=M">Voir sur une carte plus grande</a>
            </div>
        </div>
    </section>


{% endblock %}

{% block javascript %}
    {{ parent() }}
    
    <script src="{{ asset('js/OpenLayers_v3.7.0-dist/ol.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript">
    <!--
    var iconFeature = new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.transform([3.03274, 50.6058], 'EPSG:4326', 'EPSG:3857')),
            name: 'ILAR'
    });

    var iconStyle = new ol.style.Style({
            image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                    scale: 0.1,
                    opacity: 0.75,
                    width: 10,
                    rotation: 0.5,
                    src: '{{ asset('images/row.png') }}'
            }))
    });

    iconFeature.setStyle(iconStyle);

    var vectorSource = new ol.source.Vector({
            features: [iconFeature]
    });

    var vectorLayer = new ol.layer.Vector({
            source: vectorSource
    });
    
    var map = new ol.Map({
            target: document.getElementById('map'),
            layers: [
                    new ol.layer.Tile({
                            source: new ol.source.OSM()
                    }),
                    vectorLayer
            ],
            view: new ol.View({
                    center: ol.proj.transform([3.03274, 50.6058], 'EPSG:4326', 'EPSG:3857'),
                    zoom: 15
            })
    });
    //-->
    </script>
{% endblock %}
