{% extends "GessehHomeBundle::layout.html.twig" %}

{% block home_content %}

    <div class="content">
        
        <h2>
            Bienvenue sur le site internet de l’association des Internes Lillois d’Anesthésie-Réanimation (ILAR).
        </h2>

        <section>
            <div class="presentation_image pull-right visible-lg visible-md visible-sm">
                <img src="{{ asset('images/lille_grand_place.jpg') }}" alt="photo de la grand place de Lille" class="img-rounded"/>
            </div>
            <div> <!-- class="col-sm-8"> -->
                
                <blockquote class="presentation_text text-justify">
                    
                    <h3>
                        La formation en anesthésie-réanimation à Lille, c'est :
                    </h3>
                    <p>
                        1) La formation théorique :
                    </p>
                    <p>
                        le CHU est très réputé dans plusieurs spécialités et l'hopital est régulièrement classé parmi les premiers au niveau national (bon ok, c'est dans les journaux type Le point, l'Express, etc, mais ça reflète bien l'impression globale). Concernant l'anesthésie-réanimation, il n'y a pas de doute, on est bien loti : il y a cours à la fac tous les jeudis pendant 3 ans, sous forme de modules (hémodynamique, respi, infectio, douleur et j'en passe) avec des QCM de validation en fin de module. Pas d'inquiétude, c'est vraiment l'occasion de rencontrer ses chefs de clinique, ses PUPH, et les autres internes du DES à Lille et le tout donne un excellent résultat. Du coup, la veille au soir on se retrouve pour boire des verres entre internes dans des soirées "les mercredis de l'anesthésie" ! Sympathique pour s'intégrer.
                    </p>
                    
                    <p>
                        2) Les stages
                    </p>
                    <p>
                        La maquette du DES s'organise de façon assez formelle : 4 semestres en anesthésie, 4 semestres en réa et 2 semestres libres. Plusieurs modules sont à valider (pour le bloc : 6 mois en tête et cou, 6 mois en pédiatrie/obstétrique, 3 mois en chirurgie cardiaque/chirurgie thoracique, 6 mois en chirurgie digestive, un stage d'anesthésie loco-régionale... Et pour la réanimation : 1 semestre en réanimation médicale et 1 en réanimation chirurgicale au CHU, et la même chose en périphérie) au CHU ou en périph. Ces dernières sont accessibles en voiture depuis Lille sauf Boulogne et Dunkerque (quoique j'ai un pote qui a fait l'aller-retour pendant 6 mois) d'où l'existence d'internats sur place qui bougent bien, il y a des grosses soirées organisées sur place et l'ambiance est excellente paraît-il. Perso je suis toujours resté sur Lille malgré mon classement loin d'être excellent, il y a toujours moyen de trouver un stage qui te convient et ça c'est agréable. On vient de créer un système d'évaluation des stages par les internes via des formulaires en ligne, du coup on aura des notes globales avec des appréciations au prochain semestre et tu pourras t'en servir pour faire tes choix.
                    </p>
                    
                    <p>
                        3) L'ambiance
                    </p>
                    <p>
                        Clairement le point fort de cette ville. Perso je ne connaissais pas très bien la région, on en entend toujours parler en négatif (les Ch´tis à la télé, l'alcoolisme, la pluie, etc) et ça fait pas rêver a priori. Mais c'est marrant de se rendre compte qu'on est TOUS surpris en arrivant à Lille, en fait c'est canon ! Je fais le constat par rapport à tous les potes que je me suis fait sur place et qui viennent de régions différentes. Déjà il y a toujours du monde dans les rues le soir, c'est une ville très jeune, très étudiante, avec des bars et des boites partout. J'ai passé ma premiere année à sortir, j'ai adoré même s'il a fallu que je me mette un peu plus au taf par la suite :) Par ailleurs il y a beaucoup d'evènements culturels, de musées, de concerts et je ne me suis jamais ennuyé une seconde dans le coin. C'est le département le plus peuplé de France (2,6 millions d'habitants dans le 59) donc il y a énormément de monde partout et ça bouge en permanence. Le point négatif est la région autour de Lille en fait (notamment Lens, Maubeuge, etc), assez moche et sans grand intéret mais au final on y va jamais. Et la côte (Dunkerque, Boulogne, etc) est étonnamment très agréable, je vais y faire du kite-surf, il y a toujours plein de monde sur la plage et ça ressemble un peu aux longues plages de sable fin de Normandie... bon ok la mer est froide mais il y a des beaux coins à voir! Le plus grand atout du Nord, c'est le caractère des gens, ils sont géniaux ici, tu es accueilli comme un vieux pote alors que tu es un parfait inconnu, et ça fait bizarre de revenir à Paris par la suite et te faire parler comme une merde ! Quant à la metéo, bah c'est la même qu'à Paris et tout le nord de la France quoi, mais faut pas exagérer il ne pleut pas tout le temps !
                    </p>

                    <h3>
                        En espérant vous voir bientôt à Lille !
                    </h3>

                    <small class="pull-right"><cite>Le bureau</cite></small>
                </blockquote>
            </div>

        </section>
    </div>

{% endblock home_content %}
